[Interface]
Address = 10.10.10.1/24
ListenPort = 55055
MTU = 1380
PrivateKey = ""


# Peer: wg-malorian (MacBook Air — macOS)
[Peer]
PublicKey = RmVAFWfPghKVxOYlINTn7PTI8MWHSVEE/Z+3wRtqzms=
AllowedIPs = 10.10.10.10/32

# Peer: wg-uplink (iPhone)
[Peer]
PublicKey = ch7E8s+mtl3+m1vKf4UCJqokzs6rAc1Ax2QGVmd64DQ=
AllowedIPs = 10.10.10.11/32

# Peer: wg-dataslab (iPad Mini)
[Peer]
PublicKey = m20JP1PK3hSBT5cbyaf/ZCB+lPUcbJX/zEVQPdTnrX0=
AllowedIPs = 10.10.10.12/32

# Peer: wg-silverhand (MacBook Air — Asahi Linux)
[Peer]
PublicKey = /bTfQgb2K/raTXjE5dZdNyIvW84KUaHUsn4zjUW0TRM=
AllowedIPs = 10.10.10.13/32
