[Interface]
Address = 10.10.10.1/24
ListenPort = 55055
MTU = 1380
PrivateKey = ""


# Peer: wg-darwin (MacBook Air — macOS)
[Peer]
PublicKey = RmVAFWfPghKVxOYlINTn7PTI8MWHSVEE/Z+3wRtqzms=
AllowedIPs = 10.10.10.10/32

# Peer: wg-uplink (iPhone)
[Peer]
PublicKey = ISlUsgd4duK+8tdbb14SF/xmr3ioIhjhZx3o9wDkJQQ=
AllowedIPs = 10.10.10.11/32

# Peer: wg-dataslab (iPad Mini)
[Peer]
PublicKey = 2xDml5jGVj1n/sXgF7obW5XoaFohbXft54+ua5fks3U=
AllowedIPs = 10.10.10.12/32

